@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700&display=swap');

::-webkit-scrollbar {
    background: transparent;
    background-clip: padding-box;
    border: 2px solid transparent;
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: #667eea;
    background-clip: padding-box;
    border: 2px solid transparent;
    border-radius: 9px;
}

body {
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    overflow: hidden;
}

#topbar {
    -webkit-app-region: drag;
}

#topbar > #window-buttons {
    -webkit-app-region: no-drag;
}

.fade-enter-active, .fade-leave-active {
    transition: all .2s cubic-bezier(0, 0.70, 0.25, 1);
}

.fade-leave-to {
    opacity: 0;
    transform: translateX(-20px);
}

.fade-enter {
    opacity: 0;
    transform: translateX(20px);
}

#post_details {
    text-shadow: 0 2px 5px rgba(0,0,0,.7);
    background: linear-gradient(0deg, #2d3748 40%, transparent);
}

.checkbox-label input:checked + svg {
    display: block !important;
}

li#download-done {
    max-width: 45%;
}

#sidebar-link .router-link-active {
    background: #718096;
}

#settings-sidebar-link .router-link-active {
    background: #2d3748;
    color: #f7fafc;
    cursor: default;
}

#dPostImg {
    -webkit-mask-image: linear-gradient(90deg, #000 50%, transparent 95%);
}

#post_label {
    margin: -.5rem;
}